.grandmaContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px
}

.grandmaContainer input {
    border: 2px solid black;
    width: 40%;
    height: 100px;
    font-size: 16px;
    text-align: center;

}

#grandmaText {
    border: 2px solid black;
    width: 40%;
    height: 100px;
    font-size: 16px;
    text-align: center;
    pointer-events: none;
}

#grandmaText::placeholder {
    color: black;
}

.grandmaContainer img {
    height: 200px;
    width: 200px;
}

